@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800&display=swap');

body {
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif !important;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-grey{
  color: #a1acad;
}

.bg-img{
  width: 100vw;
  height: 100vh !important;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -100;
  object-fit: cover;
}

.info{
  backdrop-filter: blur(100px);
  /* background-color: transparent; */
  background: linear-gradient( rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  width: 500px;
  text-align: left;
  padding: 40px;
  padding-top: 0;
  height: 100vh;
}

.search{
  margin-right: -40px; 
  margin-bottom: 20px;
  align-items: flex-end;
  justify-content: space-between;
}

.searchInput{
  color: white;
  padding-bottom: 4px;
  background-color: transparent;
  border: none;
  width: 60%;
}

.searchInput:focus {
  outline: none;
}

.searchBtn{
  width: 70px;
  height: 70px;
  right: 0;
  top: 0;
  border: none;
  background-color: orange;
  color: white;
}

.searchSuggestion{
  background: transparent;
  border: none;
  text-align: left;
  color: inherit;
}

.searchSuggestion:hover{
  color: white;
}

.bigInfo{
  padding: 100px;
}

.temp{
  font-size: 120px;
}

.name{
  font-size: 70px;
  font-weight: 300;
  text-align: left;
  max-width: 370px;
}

.timeStamp{
  text-align: left;
  padding-left: 10px;
  font-weight: 100;
}