@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800&display=swap');

body {
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif !important;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-grey{
  color: #a1acad;
}

.bg-img{
  width: 100vw;
  height: 100vh !important;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -100;
  object-fit: cover;
}

.info{
  backdrop-filter: blur(100px);
  /* background-color: transparent; */
  background: linear-gradient( rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  width: 500px;
  min-width: 300px;
  text-align: left;
  padding: 40px;
  padding-top: 0;
  height: 100vh;
}

.search{
  margin-right: -40px; 
  margin-bottom: 20px;
  align-items: flex-end;
  justify-content: space-between;
}

.searchInput{
  color: white;
  padding-bottom: 4px;
  background-color: transparent;
  border: none;
  width: 60%;
}

.searchInput:focus {
  outline: none;
}

.searchBtn{
  width: 70px;
  height: 70px;
  right: 0;
  top: 0;
  border: none;
  background-color: orange;
  color: white;
}

.searchSuggestion{
  background: transparent;
  border: none;
  text-align: left;
  color: inherit;
}

.searchSuggestion:hover{
  color: white;
}

.bigInfo{
  padding: 100px 100px 50px 100px;
  flex-wrap: wrap;
}

.temp{
  font-size: 120px;
}

.name{
  font-size: 70px;
  font-weight: 300;
  text-align: left;
  max-width: 370px;
}

.timeStamp{
  text-align: left;
  padding-left: 10px;
  font-weight: 100;
}


@media (769px <= width < 1200px){
  .temp{
    text-align: left;
    width: 75%;
  }
  .nameDiv{
    width: 72%;
  }
  .icondiv{
    width: 80%;
    align-items: baseline;
    /* transform: translateX(-10%); */
  }

  .icondiv p{
    transform: translateX(15px);
  }
  .bigInfo{
    padding: 40px 20px 0px 40px ;
  }
  .desc{
    flex-direction: column;
    padding-bottom: 10vh;
  }
}

@media (width < 769px) {
  .home{
    flex-direction: column;
  }
  .bigInfo{
    padding:0;
  }

  .temp{
    font-size: 5rem;
  }

  .nameDiv{
    width: min-content;
  }

  .name{
    font-size: 2.8rem;
  }

  .icon{
    font-size: 4rem !important;
  }


  .heading{
    margin: 20px;
  }
  .desc{
    width: 90vw !important;
    justify-content: space-around;
    margin-left: 5vw;
  }
  .info{
    width: 100vw;
    height: 100%;
  }
}

@media (width < 540px) {
  .info{
    min-width: 100vw;
  }

  .temp{
    font-size: 3rem;
  }

  .name{
    font-size: 1.5rem;
  }

  .timeStamp{
    font-size: 0.5rem !important;
    transform: translateX(-10px);
  }

  .icondiv{
    transform: translateY(15px);
  }

  .icon{
    font-size: 2rem !important;
  }
}